---
import { generateRandomId } from "../utils/generateRandomId.js"

const { title } = Astro.props

const itemId = `accordion-item-${generateRandomId()}`
---

<div class="accordion-item border-0">
  <h2 class="accordion-header" id={`${itemId}-heading`}>
    <button
      class="accordion-button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target={`#${itemId}-collapse`}
      aria-expanded="false"
      aria-controls={`${itemId}-collapse`}
    >
      <h3 class="display-6">{title}</h3>
    </button>
  </h2>
  <div
    id={`${itemId}-collapse`}
    class="accordion-collapse collapse"
    aria-labelledby={`${itemId}-heading`}
  >
    <div class="accordion-body py-0">
      <slot />
    </div>
  </div>
</div>

<style>
  .accordion-button:not(.collapsed) {
    background-color: transparent !important;
    color: inherit;
  }

  button.accordion-button:focus {
    box-shadow: inherit;
  }
</style>
